@using Radzen
@inherits LayoutComponentBase

<RadzenLayout>
    <HeadContent>
        <link rel="icon" href="~/images/APICL.favicon.svg" type="image/svg" />
    </HeadContent>

    <RadzenHeader>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn>
                <RadzenSidebarToggle Click="@SidebarToggleClick" />
            </RadzenColumn>
            <RadzenColumn>
                <div style="font-size: 24px; font-weight: bold;">APICL WebApp</div>
            </RadzenColumn>
            <RadzenColumn Style="margin-left: auto; margin-right: 15px;">
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="" Icon="home" Match="NavLinkMatch.All" />
            <RadzenPanelMenuItem Text="Image" Path="image" Icon="photo" />
            <RadzenPanelMenuItem Text="Audio" Path="audio" Icon="audiotrack" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    
    <RadzenBody>
        <RadzenContent Container="main">
            @Body
        </RadzenContent>
    </RadzenBody>
    
</RadzenLayout>

@code {
    bool sidebarExpanded = false;

    void SidebarToggleClick()
    {
        sidebarExpanded = !sidebarExpanded;
    }
}